<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://www.surveymonkey.com/r/swc_pre_workshop_v1?workshop_id=2019-01-14-uwmadison-swc">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Setup</td> </tr>
      <tr> <td>08:30</td>  <td>Introduction</td> </tr>
      <tr> <td>09:00</td>  <td> <a href="http://swcarpentry.github.io/shell-novice"> Automating tasks with the Unix shell </a> </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://uw-madison-datascience.github.io/python-novice-gapminder-custom/"> Building programs with Python </a> </td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/"> Version control with Git </a> </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://uw-madison-datascience.github.io/python-novice-gapminder-custom/"> Workflows with Python and Git </a> </td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="https://www.surveymonkey.com/r/swc_post_workshop_v1?workshop_id=2019-01-14-uwmadison-swc" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
